body{
    background: rgba(5, 172, 116, 0.589) !important;
}
#navbar{
    background-color: rgba(0, 0, 0, 0.897) !important;
}
a{
    color: blanchedalmond !important;
    font-size: 20px;

}
#register{
    color: blanchedalmond;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}