<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<div class="container">
    <div class="row">
        <div class="col p-5">
            <div class="row">
                <center>
                    <h2 style="color: blanchedalmond; font-size: 40px;">
                        Edicion de Articulo
                    </h2>
                </center>
            </div>
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control"  autofocus>
                </div>
                <br>
                <div class="form-group">
                    <textarea name="descript" rows="4" class="form-control"  > </textarea>
                </div>
                <br>
                
                <div class="row">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
